// source/_components/actionList/actionList.styl

// Table of contents
// 1.0 actionList
// 1.1 actionList li

// actionList
// -----------
.actionList
  display: block;
  
  li:before
    color: $yellowGreen;
    content: '✓';
    display: inline-block;
    margin-right: 10px;
    width: 5px;
    