// source/_modules/header/header.styl

// Table of contents
// 1.0 header
// 1.1 headerTitle  

// header
// -----------
header
  background-color: $black;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  
  // headerTitle
  // -----------
  .headerTitle
    color: $white;
    font-size: 23px;
    font-weight: 700;