.gallery 
  display: block;
  margin: 10px auto;
  text-align: center;

  .galleryHolder
    display: block;
    margin: 0 auto;
    position: relative;
    
    div
      display: block;
      float: left;
      margin: 20px 1.5%;
      width: 30%;
      
      figure
        background-color: #e6e3e3;
        border: 1px solid black;
        padding: 10px;
        text-align: center;
        cursor: pointer;