// source/_modules/hero/hero.styl

// Table of contents
// 1.0 hero
// 2.0 heroText
// 2.1 heroText Title
// 2.2 heroText Text

// hero
// -----------
.hero
  background-color: rgba(0, 0, 0, .5);
  background-image: url('./images/background.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 400px;
  position: relative;
  width: 100%;
  
  // heroText
  // -----------
  .heroText
    background-color: rgba(108, 131, 78, 0.6);
    box-shadow: 2px 2px 0 0;
    color: white;
    left: 5%;
    padding: 10px 20px 10px 5px;
    position: absolute
    position: absolute;
    top: 50%;
    transform: translateY(-75%);
    
    // heroText Title
    // -----------
    .heroText_Title
      display: block;
      font-size: 40px;
      margin-bottom: 5px;  

    // heroText Paragraph
    // -----------
    .heroText_Paragraph
      color: #050709;
      font-weight: 900;