// source/_modules/resume/resume.styl

// Table of contents
// 1.0 resume
// 1.1 resume text

// resume
// -----------
.resume
  background-color: #f5f5f5;
  display: block;
  padding: 20px;
  position: relative;
  text-align: center;
  
  // resume text
  // -----------   
  .resumeText
    display: block;
    margin: 0 auto;
    max-width: 635px;
    text-align: justify;
    
    p 
      display: block;
      font-size: 15px;
      margin-bottom: 15px;